@charset "UTF-8";

.contents-wrapper {
  float: right;
  width: 100%;
  margin-left: -200px;
}

.main {
  margin-left: 200px;
}

.aside {
  width: 200px;
}

.aside1 {
  float: left;
}

.two-col {
  float: left;
  width: 100%;
  margin-right: -200px;
}

.aside2 {
  float: right;
}